body {
  /* background-color: #264653;
  background-color: #212f45; */
  /* background-color: #081c15; */
  /* background-color: #212121; */
  background: linear-gradient(90deg, black, #0F2027, #203A43, #2C5364, black 95%);
}
html{
  scroll-behavior: smooth;
}

.text-decoration-none {
  font-size: 1rem;
}
.navbar-brand span {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.navbar .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-size: 1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
}
.navbar .navbar-nav .nav-item {
  position: relative;
}

.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: darkorange;
  width: 0%;
  content: "";
  height: 2px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}
.input-group-text,
.form-control {
  border-radius: 0.5rem;
}
.accordion-button {
  background-color: darkorange;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.accordion-item {
  border: none;
  border-radius: none;  
}
.bg-light {
  background-color: transparent !important;
}
#account-click span {
  color: darkorange;
  font-size: 1em;
}
.btn-group .btn-dark{
  border: 1px solid darkorange;
  background-color: transparent;
  color: darkorange;
}
.btn-group .btn-dark:hover {
  background-color: darkorange;
  color: white;
}
div h6 a:last-child {
  color: darkorange !important;
}
.carousel-item {
  height: 100vh;
  min-height: 200px;
}
.carousel-caption {
  bottom: 200px;
}
.carousel-caption a {
  padding-left: 5px;
  font-weight: bold;
}
