#navBar {
  /* background-color: #264653; */
  /* background-color: #212f45; */
  background-color: #081c15;
}
.text-decoration-none {
  font-size: 1rem;
}
.navbar-brand span {
  font-size: 2rem;
  color: #f5f5f5;
}
.navbar .navbar-nav .nav-link {
  color: #f5f5f5;
  font-size: 1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: #f5f5f5;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #2d6a4f;
  width: 0%;
  content: "";
  height: 2px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}
.input-group-text,
.form-control,.form-select {
  border-radius: 2rem;
}
.btn-group .btn-outline-success {
  color: #fff;
}
.input-group .btn-success {
  border-radius: 2rem;
}
.btn-container {
  display: flex;
}
.btn-container .btn-success:last-child {
  margin-left: 200px;
}
/* hr {
  position: absolute;
  transform: rotate(90deg);
  font-size: 1.5em;
} */ ;
